
<mat-card>
  <mat-card-header>
    <mat-card-title>Desafio da Empresa EloGroup</mat-card-title>
  </mat-card-header>
  <div class="example-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">


      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput placeholder="Nome Completo" [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.form.controls['name'].hasError('required')">
          Campo nome é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input formControlName="phoneNumber" matInput [textMask]="{mask: phoneMask}" placeholder="Telefone" [errorStateMatcher]="matcher">
        <mat-error *ngIf="this.form.controls['phoneNumber'].hasError('required')">
          Campo telefone é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-select required formControlName="howIDoKnowTheCompany" [errorStateMatcher]="matcher">

          <mat-option>-- SELECIONE --</mat-option>
          <mat-option value="TV">TV</mat-option>
          <mat-option value="internet">Internet</mat-option>
          <mat-option value="Outros">Outros</mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls['howIDoKnowTheCompany'].hasError('required')">
          Campo conheceu a empresa é <strong>obrigatório</strong>
        </mat-error>
        <mat-label><b> Como nos conheceu:</b></mat-label>
      </mat-form-field>
      <div>
        <label>Possui rede social: </label>
        <mat-radio-group (change)="socialMedia($event)" formControlName="haveSocialMedia">
          <mat-radio-button  value="sim">Sim</mat-radio-button>
          <mat-radio-button value="nao">Não</mat-radio-button>
        </mat-radio-group>
      </div>

      <section class="example-section" *ngIf="checkSocialMedia">
        <mat-checkbox class="example-margin" (change)="showOptions($event)" value="facebook">Facebook</mat-checkbox>
        <mat-checkbox class="example-margin" (change)="showOptions($event)" value="linkedin">Linkedin</mat-checkbox>
        <mat-checkbox class="example-margin" (change)="showOptions($event)" value="istagram">Istagram</mat-checkbox>
      </section>

      <button mat-button  [disabled]="disableButtonSave" type="submit">Salvar</button>
    </form>
  </div>
</mat-card>
